.portfolio-page
{
    opacity: 0;
    width: 80%;
    max-width: 72rem;
    min-height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    transition: opacity .6s;
}

@media screen and (max-width: 1099px)
{
    .portfolio-page
    {
        min-height: 0;
        margin: 6rem auto;
        width: 70%;
    }
}

@import './projectcard.css';
@import './projectdrawer.css';
@import './projectdrawerinfo.css';
@import './projectdrawerlinks.css';
@import './projectdrawertech.css';