.project-card
{
    position: relative;
    /* width: 12rem; */
    flex-basis: 20%;
    height: 18rem;
    overflow: hidden;
    margin: 2.5%;

    border-radius: .5rem;
    box-shadow: 0 0 4px 4px rgba(70, 70, 70, .4);

    transition: box-shadow .4s;
}
.project-card:hover
{
    box-shadow: 0 0 6px 6px rgba(70, 70, 70, .6);
}

.project-card > img
{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}

.project-card__overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    background-color: rgba(58, 115, 143, .5);

    opacity: 0;
    transition: opacity .6s;
}
.project-card:hover > .project-card__overlay
{
    opacity: 1;
}

.project-card__overlay > h2
{
    position: relative;
    top: -1rem;
    opacity: 0;

    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 200;
    color: var(--theme-blue);

    padding: .5rem;
    width: 70%;
    background-color: #fff;
    box-shadow: 0 0 4px 4px rgba(70, 70, 70, .4);

    transition: all .4s;
}
.project-card__overlay > h2:hover
{
    cursor: pointer;
}
.project-card__overlay:hover > h2
{
    opacity: 1;
    top: 0;
}

@media screen and (max-width: 1099px)
{
    .project-card
    {
        flex-basis: 29%;
        margin: 2%;
    }
}
@media screen and (max-width: 949px)
{
    .project-card
    {
        flex-basis: 40%;
        margin: 5%;
        height: 24rem;
    }
}
@media screen and (max-width: 880px)
{
    .project-card
    {
        height: 21rem;
    }
}
@media screen and (max-width: 729px)
{
    .project-card
    {
        height: 18rem;
    }
}
@media screen and (max-width: 649px)
{
    .project-card
    {
        height: 16rem;
    }
}
@media screen and (max-width: 600px)
{
    .project-card
    {
        flex-basis: 80%;
        margin: 5% 10%;
        height: 21rem;
    }
}