.about-page__drawer
{
    position: fixed;
    z-index: 2000;
    left: -60%;
    top: 0;
    width: 50%;
    height: 100vh;
    overflow: scroll;

    padding: 3rem;

    background-color: #fff;
    box-shadow: 0 0 16px 12px rgba(0, 0, 0, .4);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: left .4s ease-out;
}

.drawer-icon
{
    margin-bottom: 2rem;
}

.drawer-title
{
    font-family: var(--font-sans-serif);
    font-weight: 200;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--theme-blue);
    padding-bottom: 2rem;

    border-bottom: 1px solid var(--theme-blue);
    
    width: 80%;
    margin-bottom: 2rem;
}

.slide-in-from-left
{
    left: 0;
}

@import './skill.css';
@import './interest.css';
@import './job.css';
@import './institution.css';