.job
{
    width: 80%;
    margin-bottom: 2rem;
}

.job__header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job__header > h3
{
    font-family: var(--font-sans-serif);
    color: var(--theme-blue);
    font-weight: 400;
    font-size: 1rem;
}
.job__header > p
{
    font-family: var(--font-sans-serif);
    color: #555;
    font-size: 1rem;
    font-weight: 300;
}

.job-location
{
    padding: .25rem 0 .5rem 0;
    font-family: var(--font-serif);
    font-size: .9rem;
    font-weight: 400;
}

.job-summary
{
    font-family: var(--font-sans-serif);
    font-size: .9rem;
    text-align: left;
}