.project-card
{
    position: relative;
    width: calc(100% / 4);
    height: 24rem;
    overflow: hidden;
    margin: 1rem;

    border-radius: .5rem;
    box-shadow: 0 0 4px 4px rgba(70, 70, 70, .4);

    transition: box-shadow .4s;
}
.project-card:hover
{
    cursor: pointer;
    box-shadow: 0 0 6px 6px rgba(70, 70, 70, .6);
}

.project-card > img
{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}

.project-card__overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    background-color: rgba(58, 115, 143, .5);

    opacity: 0;
    transition: opacity .6s;
}
.project-card:hover > .project-card__overlay
{
    opacity: 1;
}

.project-card__overlay > h2
{
    position: relative;
    top: -1rem;
    opacity: 0;

    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 200;
    color: var(--theme-blue);

    padding: .5rem;
    width: 70%;
    background-color: #fff;
    box-shadow: 0 0 4px 4px rgba(70, 70, 70, .4);

    transition: all .4s;
}
.project-card__overlay:hover > h2
{
    opacity: 1;
    top: 0;
}


@media screen and (max-width: 949px)
{
    .project-card
    {
        height: 22rem;
    }
}
@media screen and (max-width: 880px)
{
    .project-card
    {
        width: 16rem;
        height: 24rem;
    }
}
@media screen and (max-width: 770px)
{
    .project-card
    {
        width: 20rem;
    }
}
@media screen and (max-width: 600px)
{
    .project-card
    {
        width: calc(100% * .75);
    }
}
@media screen and (max-width: 550px)
{
    .project-card
    {
        width: calc(100% * .8);
        height: 18rem;
    }
}
@media screen and (max-width: 500px)
{
    .project-card
    {
        width: calc(100% * .9);
    }
}