.project-drawer
{
    z-index: 2000;
    position: fixed;
    top: 0;
    right: -50%;
    height: 100%;
    width: 40%;
    padding: 2rem;

    display: flex;
    flex-direction: column;

    box-shadow: 0 0 16px 12px rgba(0, 0, 0, .4);

    background-color: #fff;

    transition: right .4s ease-out;
}
.slide-in
{
    right: 0;
}

.project-drawer__title
{
    font-family: var(--font-sans-serif);
    font-weight: 200;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--theme-blue);
    padding-bottom: 2rem;

    border-bottom: 1px solid var(--theme-blue);
}
.project-drawer__description
{
    font-family: var(--font-serif);
    font-weight: 300;
    font-size: .9rem;
    padding: 2rem 0;
    line-height: 150%;
}

@import './projectdrawerlinks.css';
@import './projectdrawtech.css';