@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');

*
{
    padding: 0;
    margin: 0;
}

/* DEFINE VARIABLES */
:root
{
    --theme-blue: #3A738F;
    --facebook-blue: #3b5998;
    --twitter-blue: #00aced;
    --instagram-violet: #bc2a8d;
    --linkedin-blue: #0077b5;

    --font-sans-serif: 'Raleway', sans-serif;
    --font-serif: 'Roboto Slab', serif;
}

.home-page
{
    position: relative;
    z-index: -1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0 auto;
    background-color: #fff;
}
.portfolio-page
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@import './styles/nav.css';
@import './styles/homebutton.css';
@import './styles/profile.css';
@import './styles/projectcard.css';