@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');

*
{
    padding: 0;
    margin: 0;
}

/* DEFINE VARIABLES */
:root
{
    --theme-blue: #3a738f;
    --facebook-blue: #3b5998;
    --twitter-blue: #00aced;
    --instagram-violet: #bc2a8d;
    --linkedin-blue: #0077b5;

    --font-sans-serif: 'Raleway', sans-serif;
    --font-serif: 'Roboto Slab', serif;
}

.home-page
{
    opacity: 0;
    position: relative;
    z-index: -1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    top: 0;
    left: 0;
    margin: 0 auto;
    background-color: #fff;

    transition: opacity .6s;
}

.portfolio-page
{
    opacity: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    transition: opacity .6s;
}
@media screen and (max-width: 949px)
{
    .portfolio-page
    {
        flex-direction: column;
        max-height: 60rem;
        justify-content: flex-start;
        padding: 8rem 10rem;
    }
}
@media screen and (max-width: 899px)
{
    .portfolio-page
    {
        padding: 8rem;
    }
}
@media screen and (max-width: 849px)
{
    .portfolio-page
    {
        padding: 8rem 5rem;
    }
}
@media screen and (max-width: 770px)
{
    .portfolio-page
    {
        max-height: 100%;
    }
}
@media screen and (max-width: 450px)
{
    .portfolio-page
    {
        padding: 8rem 3rem;
    }
}

@import './styles/nav.css';
@import './styles/homebutton.css';
@import './styles/profile.css';
@import './styles/projectcard.css';
@import './styles/projectdrawer.css';
@import './styles/aboutpage.css';
@import './styles/aboutnav.css';

.fade-in
{
    opacity: 1 !important;
}